:root{
    --cor1:#10454F;
    --cor2:#506266;
    --cor3:#818274;
    --cor4:#A3AB78;
    --cor5:#BDE038;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    z-index: 1;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding:15px 30px 15px 15px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.209);
    background-color: white;
    .logo{
        width:40px;
        height:40px;
        background-color:var(--cor2);
        border-radius: 50%;
    }
    #menu-hamb:hover{
        cursor:pointer
    }
}
.cafe-1{
    width: 100%;
}
ul{
    display: none;
}

main{
    width: 100%;
}
.sec1{
    background-color: #F2EFED;
    max-height: 80%;
    text-align: center;
    padding-bottom: 25px;
}
.sec1 h1{
    margin: 10px;
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
.sec1 p{
    font-size: 22px;
    margin: 25px;
    color:rgb(102, 102, 102)
}

.sec1  button{
    background-color: green;
    padding: 10px;
    border-radius: 20px;
    border: none;
    color: white;
    width: 120px;
    font-weight: bold;
    transition: 0.5s;
}
.sec1  button:hover{
    cursor: pointer;
    background-color: white;
    color:green;
    border: 1px solid green;
}

.sec2,.produtos-torra{
    background-color: #F2EFED;
    height: 400px;
    margin-bottom: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr;
    gap: 15px;
    padding: 10px;
    align-items: center;
}

.produtos-torra{
    margin: auto;
    margin-bottom: 35px;
    margin-top: 0;
    position: relative;
    display: none;
}
.botoes{
    width: 100%;
    height:60px;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    margin-top: 35px;
    .btn1{
        display: flex;
        align-items: center;
        justify-content: center;
        height:60px;
        width: 49%;
        border: none;
        background-color: #F2EFED;
        font-size: 20px;
        font-weight: bold;
        color:green;
        transition: 0.5s;
    }
    .btn1:hover{
        cursor:pointer;
        background-color: #F2EFED;
    }
    .btn2{
        display: flex;
        align-items: center;
        justify-content: center;
        height:60px;
        width: 49%;
        border: none;
        background-color: #D4C9C2;
        font-size: 20px;
        font-weight: bold;
        color:green;
        transition: 0.5s;
    }
    .btn2:hover{
        cursor:pointer;
        background-color: #F2EFED;
    }
}

.produtos{
    background-color: white;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.5s;
    text-align: center;
}


.sec3{
    background-color: #ffffff;
    max-height: 80%;
    text-align: center;
    padding-bottom: 25px;
}

.sec3 h3{
    margin: 10px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color:green
}
.sec3 p{
    font-size: 22px;
    margin: 25px;
    color:rgb(102, 102, 102)
}

.sec3  button{
    background-color: green;
    padding: 10px;
    border-radius: 20px;
    border: none;
    color: white;
    width: 120px;
    font-weight: bold;
    transition: 0.5s;
}
.sec3  button:hover{
    cursor: pointer;
    background-color: white;
    color:green;
    border: 1px solid green;
}

.sec4{
    background-color: #ffffff;
    max-height: 80%;
    text-align: center;
    padding-bottom: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.sec4 h3{
    margin: 10px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color:green;
    margin-bottom: 25px;
}
.sec4  button{
    background-color: green;
    padding: 10px;
    border-radius: 20px;
    border: none;
    color: white;
    width: 120px;
    font-weight: bold;
    transition: 0.5s;
}
.sec4  button:hover{
    cursor: pointer;
    background-color: white;
    color:green;
    border: 1px solid green;
}

footer{
    background-color: #e75353;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
footer > h1{
    color:white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (min-width:620px){
    .sec1,.sec3,.sec4{
        display: block;
        width: 600px;
        margin: auto;
    }
    .sec2,.produtos-torra{
        width: 600px;
        margin: auto;
        margin-bottom: 35px;
    }
    .botoes{
        margin: auto;
        margin-top: 35px;
        width:600px;
    }
    #menu-hamb{
        display: none;
    }
    ul{
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        width: 300px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
    }
    ul>li{
        transition: 0.2s;
    }
    ul>li:hover{
        color:green;
        cursor: pointer;
    }
}
@media (min-width:1000px){
    .sec1,.sec3,.sec4{
        display: flex;
        width: 900px;
        height: 50vh;
        padding-bottom: 0;
        justify-content: space-between;
    }
    .descricao1,.descricao3,.descricao4{
        display: flex;
        background-color: #ffffff;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 450px;
    }
    .descricao1{
        background-color: #F2EFED;
        width: 60%;
    }
    .sec1{
        margin-top: 35px;
    }
    .sec4{
        flex-direction: row-reverse;
        height: 60vh;
        margin-bottom: 30px;
    }

    .sec3{
        height: 60vh;
    }
    .botoes{
        width: 900px;
    }
    .sec2,.produtos-torra{
        grid-template-columns: repeat(4,1fr);
        grid-template-rows:1fr;
        margin-bottom: 35px;
        width: 900px;
        height: 170px;
    }
    .descricao4 h3{
        font-size: 25px;
        width: 300px;
    }
}
